@import '_variables';
@import "font-awesome/fontawesome.scss";
@import "font-awesome/solid.scss";
@import "font-awesome/regular.scss";

body {
  margin: 0;
  background-color: $tl-sand;
  height: 98vh;
  width: 100vw;
}

#app {
  margin-left: auto;
  margin-right: auto;
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  font-family: Lato;
  font-weight: 600;
  text-align: center;
  color: $tl-default-text;
  height: 100%;
  max-width: 450px;
  max-height: 750px;
}

.root {
  background-color: $tl-green;
  height: 100%;
  // margin: 5px;
}

.tasklist-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .tasklist-header {
    z-index: 1;
    background-color: #4be057;
    // box-shadow: 0px 3px 6px 0px #0000000f;

    .tasklist-header-content {
      display: flex;
      flex-direction: row;
      justify-content: baseline;
      align-items: center;
      height: 80px;
      box-sizing: border-box;
      background-color: $tl-green;
      color: white;

      .tasklist-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        input {
          color: $tl-white;
          margin: 0;
          font-family: Roboto;
          font-size: 1.8em;
          padding: 0;
          border: none;
          background-color: initial;
          font-weight: 600;
          width: 90%;
          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;
        }
        span {
          font-weight: 300;
          font-size: 1.4em;
        }
      }

      .back {
        display: flex;
        @extend %fa-icon;
        @extend .fas;

        // width: 20px;
        // height: 30px;
        font-size: 2.2em;
        margin: 0 15px;

        &:before {
          content: fa-content($fa-var-chevron-left);
        }
      }
    }

    .tasklist-footer-content {
      display: flex;
      position: relative;
      width: 100%;
      height: 40px;
      background-color: $tl-white;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      padding-bottom: 15px;
      // border-top: #42cd4f 4px solid; // make variable?
      font-size: .8em;

      .date {
        display: flex;
        flex-direction: row;
        position: absolute;
        align-items: center;
        left: 20px;
        top: 15px;
        .day {
          font-size: 2.2em;
          margin-right: 5px;
        }
        .month-year {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-size: .9em;
        }
      }

      .dayOfWeek {
        display: block;
        position: absolute;
        right: 8.7%;
        top: 30px;
        text-align: center;
      }
    }
  }

  .tasklist {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    overflow-y: scroll;
    background-color: $tl-white;
    // box-shadow: 0px 3px 6px 0px #0000000f;

    .task {
      @extend %fa-icon;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .completed {
        @extend .far;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 20%;
        font-size: 2.2em;
        color: #d7d7d7;

        &:before {
          content: fa-content($fa-var-circle);
        }
      }

      .remove {
        @extend .far;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 20%;
        font-size: 1.6em;
        color: $tl-red;
        
        &:before {
          content: fa-content($fa-var-trash-alt);
        }
      }

      .task-info {
        display: flex;
        position: relative;
        flex-direction: row;
        height: 60px;
        width: 80%;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #d5d8d8;

        // .handle {
        //   @extend .fas;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   font-size: 2.2em;
        //   color: #d7d7d7;
        //   height: 50px;
        //   width: 60px;
        //   font-size: 2.2em;
  
        //   &:before {
        //     content: fa-content($fa-var-grip-vertical);
        //   }
        // }
        input {
          color: $tl-default-text;
          font-family: Lato;
          margin: 0em;
          padding: 0;
          border: none;
          background-color: initial;
          font-weight: 600;
          font-size: 1em;
          width: 80%;
          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;
        }
        span {
          user-select: none;
          font-weight: 600;
        }
      }

      &.complete {
        .completed {
          &:before {
            color: $tl-green;
            content: fa-content($fa-var-check-circle);
          }
        }

        .task-info {
          input, span {
            color: #d7d7d7;
          }
          &:before {
            content: '';
            position: absolute;
            width: 80%;
            height: 1px;
            left: 0;
            background-color: #d7d7d7;
          }
        }
      }

      &.last {
        .completed, .remove {
          border-bottom: 1px solid #d5d8d8;
        }
      }
    }
  }

  .tasklist-footer {
    display: flex;
    // height: 80px;
    justify-content: center;
    background-color: $tl-sand;
    height: 65px;
  }

  .circular-btn {
    position: relative;
    display: flex;
    border-radius: 50px;
    font-size: 3em;
    align-items: center;
    justify-content: center;
    // box-shadow: 0px 4px 5px 0px #00000030;
    // box-shadow: 0px 3px 10px 0px #00000030;
    
    &.add-task {
      @extend %fa-icon;
      @extend .fas;
      display: flex;
      width: 100px;
      height: 100px;
      bottom: 32px;
      align-self: center;
      color: $tl-dark-green;
      background-color: $tl-green;
      // box-shadow: 0px 3px 10px 0px #00000030; // Only on add button??
      box-shadow: 0px 3px 6px 0px #00000030; // New

      &:before {
        text-shadow: 0px 4px 2px #97ffa0;
        content: fa-content($fa-var-plus);
      }
    }

    &.toggle-settings {
      @extend %fa-icon;
      @extend .fas;
      display: flex;
      
      &.false {
        width: 60px;
        height: 60px;
        font-size: 2.2em;
        margin-bottom: 15px;
        align-self: flex-end;
        color: #c3b067; // Mak variable?
        background-color: #e3c86c; // Mak variable?
        
        &:before {
          text-shadow: 0px 2px 2px #ffe794;
          content: fa-content($fa-var-bars);
        }
      }

      &.true {
        width: 60px;
        height: 60px;
        font-size: 2.2em;
        margin-bottom: 15px;
        align-self: flex-end;
        color: #c0c0c0; // Mak variable?
        background-color: #e0e0e0; // Mak variable?
        
        &:before {
          text-shadow: 0px 2px 2px #ffffff;
          content: fa-content($fa-var-bars);
          // content: fa-content($fa-var-times);
        }
      }
    }

    .child-btn {
      position: absolute;
      display: flex;
      width: 45px;
      height: 45px;
      top: 8px;
      left: 8px;
      border-radius: 50px;
      font-size: 1em;
      align-items: center;
      justify-content: center;
      // box-shadow: 0px 3px 10px 0px #00000030;
      z-index: -1;
      transition: opacity .1s, top .1s, left .1s;
      opacity: 0;

      &.show {
        z-index: initial;
        opacity: 1;
        &:first-child {
          top: 10px;
          left: -60px;
        }

        &:nth-child(2) {
          top: 65px;
          left: -32px;
        }
      }
      
      &.toggle-complete {
        color: #5c95a4; // Mak variable?
        background-color: $tl-blue;
        &:before {
          content: fa-content($fa-var-clipboard-check);
        }
        
        &.true {
          color: #a45c5c; // Mak variable?
          background-color: $tl-red;
          &:before {
            // content: fa-content($fa-var-clipboard);
            content: fa-content($fa-var-clipboard-list);
          }
        }
      }

      &.toggle-delete {
        color: #5c95a4; // Mak variable?
        background-color: $tl-blue;
        &:before {
          content: fa-content($fa-var-trash);
        }
        
        &.true {
          color: #a45c5c; // Mak variable?
          background-color: $tl-red;
        }
      }
    }
  }
}

/* Task enter animations */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .15s ease-out
}
.slide-fade-enter, .slide-fade-leave-to {
  opacity: 0;
}